.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 20px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  height: 400px !important;
  border: 4px solid #9070ff !important;
  border-radius: 20px;
  -webkit-border-radius: 20px; /* Safari */
  -moz-border-radius: 20px; /* Firefox */
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 25px !important;
  color: black !important;
}
