.bg-gradient-service {
  background: linear-gradient(to right, #ffffff, #e5e5f7);
  height: 245px;
}

.button-gradient-service {
  background: linear-gradient(to right, #7076ff, #9688de, #604aa4, #434799);
}

.card-gradient-service {
  background: linear-gradient(to right, #f5f5fb, #afb1e6);
}
